{% extends "base.html" %}
{% block title_head %}
    EDITAR computadora
{% endblock title_head %}
{% block h1_header %}
    EDITAR {{computadora.nombre}}
{% endblock h1_header %}
{% load static %}
{% block subtitulo %}
    <p class="lead fw-normal text-white-50 mb-0">Edita los detalles del producto aquí.</p>
{% endblock subtitulo %}
{% block main %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Editar computadora</h2>
                    
                    <form action={% url 'productos:editar_computadora' computadora.id %} method="POST" enctype="multipart/form-data" class="p-3">
                        
                        {% csrf_token %}
                        
                        <div class="mb-3">
                            <!-- Render form fields -->
                            {{ form.as_p }}
                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-secondary">Guardar Cambios</button>
                        </div>
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main %}
