{% extends "base.html" %}
{% block title_head %}
    PRODUCTOS
{% endblock title_head %}
{% block h1_header %}
    PRODUCTOS
{% endblock h1_header %}
{% load static %}

{% block subtitulo %}
    <p class="lead fw-normal text-white-50 mb-0">Encuentra aquí tus productos.</p>
{% endblock subtitulo %}

{% block main %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="mb-0">Lista de computadoras</h2>
        {% if request.user.is_superuser %}
            <a href="{% url 'productos:crear_computadora' %}" class="btn btn-primary">Nueva computadora</a>
        {% endif %}
    </div>

    {% if computadoras %}
        <!-- Usamos row para crear una fila de Bootstrap -->
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for computadora in computadoras %}
                <!-- Cada computadora será una columna -->
                <div class="col">
                    <div class="card h-100">
                        {% if computadora.imagen %}
                            <img src="{{ computadora.imagen.url }}" alt="Imagen de {{ computadora.nombre }}" class="card-img-top img-fluid rounded" style="object-fit: cover; height: 300px;">
                        {% else %}
                            <img src="https://via.placeholder.com/300" class="card-img-top img-fluid rounded" style="object-fit: cover; height: 300px;" alt="Imagen no disponible">
                        {% endif %}
                        
                        <div class="card-body d-flex flex-column justify-content-between">
                            <h5 class="card-title">{{ computadora }}</h5>
                            <div class="mt-auto">
                                <a href={% url 'productos:ver_computadora' computadora.id %} class="btn btn-secondary btn-sm mb-2">Ver más</a>
                                {% if request.user.is_staff %}
                                    <a href={% url 'productos:editar_computadora' computadora.id %} class="btn btn-dark btn-sm mb-2">Editar</a>
                                    <a href={% url 'productos:eliminar_computadora' computadora.id %} class="btn btn-danger btn-sm mb-2">Eliminar</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center text-muted mt-4">No hay computadoras disponibles.</p>
    {% endif %}
</div>
{% endblock main %}
