{% extends "inicio/index.html" %}

{% block h1_header %}
    SEGUNDO TEMPLATE
{% endblock h1_header %}
{%load static%}
{% block main %}
    <h1>SEGUNDO LOCO</h1>
    <h2>
        {{fecha_actual}}
    </h2>
    <p>Listado</p>
    <ul>
        {% for num in numeros %}
            {% if num > 5%}
                <li>{{num}}</li>
            {% elif num == 5 %}
                <li>Soy el mejor numero => {{num}}</li>
            {% else %}
                <li>Soy menor a 5</li>
            {% endif %}   
        {% endfor %}
        
    </ul>
    <img src={% static "assets/certificado.png" %} alt="">
{% endblock main %}