{% extends "base.html" %}

{% block title_head %}
    Cambiar Contraseña
{% endblock title_head %}

{% block h1_header %}
    Cambiar Contraseña
{% endblock h1_header %}

{% block main %}
    <div class="container mt-4">
        <h2 class="text-center mb-4">Cambiar Contraseña</h2>
        <form action="{% url 'usuarios:cambiar_password' %}" method="post" class="p-4 border rounded shadow-sm">
            {% csrf_token %}
            <div class="mb-3">
                {{ form }}
            </div>
            <div class="text-center">
                <input type="submit" class="btn btn-primary" value="Cambiar">
            </div>
        </form>
    </div>
{% endblock main %}
